.language-toggle {
  display: flex;
  gap: 3px;
  align-items: center;

  &__option {
    font-family: 'Helvetica Neue Regular', sans-serif;
    font-size: 14px;
    line-height: $header-elements-highte;
    color: $grey-33;
    text-transform: uppercase;

    &--en {
      padding-left: 10px;
    }

    &--ua {
      padding-right: 10px;
    }
  }
}

.inactive {
  font-family: 'Helvetica Neue Light', sans-serif;
  color: $grey-82;
}
